<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="FASTory Monitoring Client" name="description">
    <meta content="Jan Gerber, Radim Karnis, Bernhard Mayrhofer" name="author">

    <title>Web UI monitoring </title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        .row-whith-wide-cards .card {
            width: 100%;
        }

        .alert-fixed {
            position: fixed;
            z-index: 9999;
            margin: 5px;
        }
    </style>
</head>

<body style="padding-top: 56px">


<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">FASTory Monitoring</a>
        <button aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-target="#navbarResponsive" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#status">Current Status
                        <!--                        <span class="sr-only">(current)</span>-->
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#events">Events
                        <!--                        <span class="sr-only">(current)</span>-->
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#alarms">Alarms
                        <!--                        <span class="sr-only">(current)</span>-->
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container mt-4">

    <div class="row alert-fixed" id="alarmNotifications">

    </div>
    <div class="row mt-4" id="status">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    Current Status Robot and Conveyor
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Status</th>
                            <th scope="col">Last Update</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">Zone 1</th>
                            <td id="statuszone1"></td>
                            <td id="timezone1"></td>
                        </tr>
                        <tr>
                            <th scope="row">Zone 2</th>
                            <td id="statuszone2"></td>
                            <td id="timezone2"></td>
                        </tr>
                        <tr>
                            <th scope="row">Zone 3</th>
                            <td id="statuszone3"></td>
                            <td id="timezone3"></td>
                        </tr>
                        <tr>
                            <th scope="row">Zone 4</th>
                            <td id="statuszone4"></td>
                            <td id="timezone4"></td>
                        </tr>
                        <tr>
                            <th scope="row">Zone 5</th>
                            <td id="statuszone5"></td>
                            <td id="timezone5"></td>
                        </tr>
                        <tr>
                            <th scope="row">Robot</th>
                            <td id="statusrobot"></td>
                            <td id="timerobot"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4" id="events">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    Events
                </div>
                <div class="card-body">
                    <table class="table table-sm table-hover">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Event ID</th>
                            <th scope="col">State</th>
                            <th scope="col">Server Time</th>
                        </tr>
                        </thead>
                        <tbody id="eventData">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4" id="alarms">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    Alarms
                </div>
                <div class="card-body">
                    <table class="table table-sm table-hover">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Type</th>
                            <th scope="col">Description</th>
                            <th scope="col">Server Time</th>
                        </tr>
                        </thead>
                        <tbody id="alarmData">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<footer class="py-4 bg-dark mt-4">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Jan Gerber, Radim Karni&scaron;, Bernhard Mayrhofer</p>
        <p class="m-0 text-center text-white">Industrial Informatics 2019</p>
    </div>
    <!-- /.container -->
</footer>
<script>
    let currentAlarmId = 0;
    let alarmLoadFirst = false;

    function getAllEvents() {
        $.get("/rest/events", function (data) {
            let events = JSON.parse(data);
            txt = "";
            for (x in events) {
                let date = new Date(events[x]["serverTime"]);
                txt += "<tr>";
                txt += "<th scope=\"row\">" + events[x]['id'] + "</th>";
                txt += "<td>" + events[x]['eventID'] + "</td>";
                txt += "<td>" + events[x]['payload'] + "</td>";
                txt += "<td>" + date.toISOString() + "</td>";
                txt += "</tr>"
            }
            document.getElementById("eventData").innerHTML = txt;

        });
    }

    function getAllAlarms() {
        $.get("/rest/alarm", function (data) {
            let alarms = JSON.parse(data);
            txt = "";
            let highestAlarmId = 0;
            for (x in alarms) {
                let date = new Date(alarms[x]["serverTime"]);
                txt += "<tr>";
                txt += "<th scope=\"row\">" + alarms[x]["id"] + "</th>";
                txt += "<td>" + alarms[x]["alarmtype"] + "</td>";
                txt += "<td>" + alarms[x]["description"] + "</td>";
                txt += "<td>" + date.toISOString() + "</td>";
                txt += "</tr>";
                if (alarms[x]["id"] > highestAlarmId) {
                    highestAlarmId = alarms[x]["id"]
                }
            }
            if (!alarmLoadFirst) {
                currentAlarmId = highestAlarmId;
                alarmLoadFirst = true;
            }
            document.getElementById("alarmData").innerHTML = txt;

        });
    }

    function getCurrentStatus() {
        $.get("/rest/ws/status", function (data) {
            let statusWS = JSON.parse(data);
            for (s in statusWS["zone1"]) {
                if (statusWS["zone1"][s].hasOwnProperty("serverTime")) {
                    document.getElementById("timezone1").innerHTML = statusWS["zone1"][s]["serverTime"];
                }
                if (statusWS["zone1"][s].hasOwnProperty("Status")) {
                    document.getElementById("statuszone1").innerHTML = statusWS["zone1"][s]["Status"];
                }

            }
            for (s in statusWS["zone2"]) {
                if (statusWS["zone2"][s].hasOwnProperty("serverTime")) {
                    document.getElementById("timezone2").innerHTML = statusWS["zone2"][s]["serverTime"];
                }
                if (statusWS["zone2"][s].hasOwnProperty("Status")) {
                    document.getElementById("statuszone2").innerHTML = statusWS["zone2"][s]["Status"];
                }
            }
            for (s in statusWS["zone3"]) {
                if (statusWS["zone4"][s].hasOwnProperty("serverTime")) {
                    document.getElementById("timezone3").innerHTML = statusWS["zone3"][s]["serverTime"];
                }
                if (statusWS["zone3"][s].hasOwnProperty("Status")) {
                    document.getElementById("statuszone3").innerHTML = statusWS["zone3"][s]["Status"];
                }
            }
            for (s in statusWS["zone4"]) {
                if (statusWS["zone4"][s].hasOwnProperty("serverTime")) {
                    document.getElementById("timezone4").innerHTML = statusWS["zone4"][s]["serverTime"];
                }
                if (statusWS["zone4"][s].hasOwnProperty("Status")) {
                    document.getElementById("statuszone4").innerHTML = statusWS["zone4"][s]["Status"];
                }
            }
            for (s in statusWS["zone5"]) {
                if (statusWS["zone5"][s].hasOwnProperty("serverTime")) {
                    document.getElementById("timezone5").innerHTML = statusWS["zone5"][s]["serverTime"];
                }
                if (statusWS["zone5"][s].hasOwnProperty("Status")) {
                    document.getElementById("statuszone5").innerHTML = statusWS["zone5"][s]["Status"];
                }
            }
            for (s in statusWS["robot"]) {
                if (statusWS["robot"][s].hasOwnProperty("serverTime")) {
                    document.getElementById("timerobot").innerHTML = statusWS["robot"][s]["serverTime"];
                }
                if (statusWS["robot"][s].hasOwnProperty("Status")) {
                    document.getElementById("statusrobot").innerHTML = statusWS["robot"][s]["Status"];
                }
            }


        });
    }

    function getNewAlarms() {
        let data = {'alarmId': currentAlarmId};
        $.ajax({
            type: "POST",
            url: "/rest/alarm/new",
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function (response) {
                data = JSON.parse(response);
                for (x in data) {
                    if (currentAlarmId < data[x]["id"]) {
                        currentAlarmId = data[x]["id"]
                    }
                    let errorMessage = "<div class=\"col-sm-12 col-md-12 col-lg-12\">";
                    errorMessage += "<div class=\"alert alert-warning alert-dismissible fade show\" role=\"alert\">";
                    errorMessage += " <strong>" + data[x]["alarmtype"] + " </strong> " + data[x]["description"];
                    errorMessage += "<button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\">";
                    errorMessage += "<span aria-hidden=\"true\">&times;</span>";
                    errorMessage += " </button>";
                    errorMessage += "</div> </div>";
                    document.getElementById("alarmNotifications").innerHTML = document.getElementById("alarmNotifications").innerHTML + errorMessage
                }

            }
        });
    }

    window.setInterval(function () {
        getAllEvents();
        getCurrentStatus();
        getAllAlarms();
        if (alarmLoadFirst) {
            getNewAlarms()
        }
    }, 1500);

    $(function () {
        $('a[href*="#"]:not([href="#"])').click(function () {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html, body').animate({
                        scrollTop: target.offset().top - 58
                    }, 1000);
                    return false;
                }
            }
        });
    });

</script>

</body>
</html>